<html lang="nl">
	<head>

		<title>het is verrukkuluk! ::
			{{ title }}
		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

		<link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="assets/css/fonts.css"/>
		<link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css"/>

		<link rel="stylesheet" type="text/css" href="assets/css/main.css"/>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
$(document).ready(function () {
    $('.nav-link').on('click', function () {
        $('.nav-link').removeClass('active');
        $(this).addClass('active');
    });

    $("#heart").on('click',(function () {
		var gerecht_id= $(this).data("gerecht_id");

		$.ajax({
			method: "POST",
			url: "index.php",
			data:{
				heart_clicked: true,
				gerecht_id: gerecht_id
			},
			success: function(response) {
				 if (response.slice(0,30).includes("added")) {
                    $("#heart").html("&#x2764;");
                } else {
                    $("#heart").html("&#x2661;");
                }
			}
		});
    }));

	$('.star').on('click',function() {
		var nummeriekveld = $(this).data('value')
		var gerecht_id= $(this).data("gerecht_id")

		$.ajax({
			method: "POST",
			url: "index.php",
			data: {
				star_clicked: true,
				gerecht_id: gerecht_id,
				nummeriekveld: nummeriekveld
			},
			success: function(response) {
			}
		});

		$(".star").removeClass('star-clicked').addClass('star')

		$(".star").each( (index, elem) => {
			const itemValue = $(elem).data('value')
			if (itemValue <= nummeriekveld) {
				$(elem).addClass('star-clicked').removeClass('star')
			}
		})
	})
	$(".clearAll").on('click', function() {
		$.ajax({
			method: "POST",
			url: "index.php",
			data: {
				clearAll: true,
			},
			success: function(response) {
				location.reload()
			}
		})
	})

	$(".clearArtikel").on('click', function() {
		var artikel_id = $(this).data("artikel_id");
		$.ajax({
			method: "POST",
			url: "index.php",
			data: {
				clearArtikel: true,
				artikel_id: artikel_id
			},
			success: function(response){
				location.reload()
			}
		})
	})

	$(".toevoegen a").on('click', function() {
		event.preventDefault();
		var gerecht_id = $(this).data("gerecht_id");
		$.ajax({
			method: "POST",
			url: "index.php",
			data: {
				toevoegen: true,
				gerecht_id: gerecht_id,
			},
			success: function(response){
				window.location.href= "index.php?action=lijst&user_id=1"
			}
		})
	})
});
</script>

	</head>
</html>
<body>
	<div class="container-fluid">
		<header>
			<div class="row">
				<div class="col-md-12">
					<a href="index.php?action=homepage">
						<img src="assets/img/logo-v2.png" alt="Logo">
					</a>
					{% block header %}{% endblock %}
				</div>
			</div>
		</header>
		<div class="row">

			<div class="col-md-4">
				<div class="agenda">
					<img src="assets/img/verrukkulluk-agenda.png" style="width: 50%; margin: 0 auto; margin-bottom: 30px; margin-top: 10px">
					<div class="calendar">
						Workshop Culinaire
					</div>
					<span class="calendar-text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span>
					<div class="calendar">
						Workshop Culinaire
					</div>
					<span class="calendar-text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span>
					<div class="calendar">
						Workshop Culinaire
					</div>
					<span class="calendar-text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span>
					<div class="calendar">
						Workshop Culinaire
					</div>
					<span class="calendar-text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span>
				</div>

				<div class="login">
					<img src="assets/img/verrukkulluk-login.png" class="img-fluid" style="width: 35%; margin: 0 auto; margin-top: 10px">
					<span style="margin-left: 50px">Email</span>
					<input type="text" class="credentials">
					<span style="margin-left: 50px">Wachtwoord</span>
					<input type="text" class="credentials">
					<button type="submit" class="login-button">
						Login
					</button>
				</div>
			</div>

			<div class="col-md-8"> {%  block content %}{%  endblock %}
				</div>
			</div>

			<footer>
				<div class="row">
					<div class="col-md-2">
						<img src="assets/img/verrukkulluk-pay-off.png" style="width: 50%; margin-left: 80px ; margin-top: 30px;">
					</div>
					<div class="col-md-10">
						<img src="assets/img/verrukkulluk-contact.png" style="width: 15%; margin-top: 50px; margin-bottom: 40px">
						<div class="contact">Verrukkulluk.nl</div>
						<div class="contact">Poststraat 2b</div>
						<div class="contact">Sittard</div>
						<div class="contact" style="margin-bottom: 75px">info@verrukkulluk.nl</div>
					</div>
				</div>
			</footer>

		</div>


	</body>
